
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
}

<h2>Index</h2>
@Html.Label("Enter your request")
<form action ="/" id="SearchForm" method="post">
    <input type="text" id="request" size="500"/>
    <button type="submit">Submit</button>
</form>
<div id="searchResponseArea">

</div>
<script type="text/javascript">
    $("#SearchForm").submit(function (event) {
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("Submit", "CoreRequest"))",
            data: { "term": $("#request").val() },
            dataType: "json",
            success: function (data) {
                if (data) {
                    $("#searchResponseArea").html(data);
                }
            }
        });
        event.preventDefault();
    });
    
</script>